<% layout('layouts/boilerplate')%>

<% if(err.message) {%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
                <p><%= err.message %></p>
            </div>
        </div>
    </div>
    <% } %>