<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New camp</h1>

    <form action="/campgrounds " method="post">
        <div>
        <input type="text" name="campground[title]"  " id="">
        <input type="text" name="campground[location]" id="">
        <button type="submit">Add</button>
    </div>
    </form>
</body>
</html>