<% layout('layouts/boilerplate') %> 

<h1>Login</h1>

<form action="/login" method="post"  novalidate class="validated-form">
    <div class="mb-3">
        <label class="form-label" for="title">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="title">Password</label>
        <input class="form-control" type="password" id="username" name="password" required>
    </div>

    <button class="btn btn-success">Login</button>
</form>