<% layout('layouts/boilerplate') %> 

<h1>Register</h1>

<form action="/register" method="post"  novalidate class="validated-form">
    <div class="mb-3">
        <label class="form-label" for="title">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="title">Email</label>
        <input class="form-control" type="email" id="username" name="email" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="title">Password</label>
        <input class="form-control" type="password" id="username" name="password" required>
    </div>

    <button class="btn btn-success">Submit</button>
</form>